material-profesor/
privado/
node_modules/
/clases/
**/nbproject/private/
**/build/
**/dist/
.DS_Store
.superpowers/
contenido/*/*/proyectos/*/nbproject/
contenido/*/*/proyectos/*/build.xml
contenido/*/*/proyectos/*/manifest.mf

# generado al ejecutar el ejercicio de lectores y escritores
**/escritores.txt
